@import '../../styles/variables.scss';
@import '../../styles/variables.scss';

.auth {
  max-width: 650px;
  margin: auto;
  display: flex;
  flex-direction: column;

  &__nav {
    align-self: flex-end;
  }

  &__link {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px 8px 0 0;
    background-color: rgba(255,255,255, .0);
    color: $bg-secondary2;
    text-decoration: none;

    &_active {
      background-color: $bg-sercice1;
    }
  }

  &__title {
    color: $bg-secondary2;
    border-bottom: 2px solid $service_button_color;
  }

  &__content {
    background-color: $bg-sercice1;
    border-radius: 8px 0 8px 8px;
    min-height: 200px;
  }
}

.form {
  width: 50%;
  min-width: 300px;
  margin: auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;

  &__input {
    margin: 15px 0; 
    padding: 7px 15px;
    outline: none;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    border: 2px solid transparent;

    &:last-of-type {
      margin-bottom: 40px; 
    }

    &::placeholder {
      text-transform: uppercase;
    }

    &__input.active {
      border: 2px solid red;
    }
  }
}