@import '../../styles/variables.scss';

.auth {
  max-width: 650px;
  margin: auto;
  display: flex;
  flex-direction: column;

  &__nav {
    align-self: flex-end;
  }

  &__link {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px 8px 0 0;
    background-color: rgba(255,255,255, .0);
    color: $bg-secondary2;
    text-decoration: none;

    &_active {
      background-color: $bg-sercice1;
    }
  }

  &__title {
    color: $bg-secondary2;
    border-bottom: 2px solid $service_button_color;
  }

  &__content {
    background-color: $bg-sercice1;
    border-radius: 8px 0 8px 8px;
    min-height: 200px;
  }
}