@import './styles/variables.scss';

.app {
    margin: auto;
    width: 75%;
    max-width: 1500px;
    box-shadow: -10px 0px 13px -7px #f35656, 10px 0px 13px -7px hsl(219, 90%, 52%), 4px -2px 10px 5px rgba(79, 167, 92, 0);
    background: url('./assets/images/films_bg.jpg');
    position: relative;
    background-size: 700px auto;

    &__wrapper {
        width: 100%;
        height: 100%;
    }
    
    &__content {
        min-height: 100vh;
        padding: 50px 80px;
    }
}

