@import '../../../styles/variables.scss';

.text {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.button {
  margin: 0;
  padding: 5px 15px;
  border-radius: 15px;
  border: 2px solid $bg-secondary2;
  color: $bg-secondary2;
  background: $service_button_color;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @extend .text;

  &__text {
    margin: 0;
  }

  &__icon {
    margin-left: 15px;
    width: 30px;
    height: 30px;
  }
}

.serviceBtn {
  &:hover {
    background-color: lighten($service_button_color, 5%);
  }

  &:active {
    background-color: darken($service_button_color, 15%);
  }
}

.commonBtn {
  background-color: $bg-dark;
  border-color: $service_button_color;
  @extend .serviceBtn;
}