@import '../../styles/variables.scss';

.header {
  background: linear-gradient(0deg, rgba(34,193,195, 0) 0%, $bg-secondary2 60%, $bg-secondary2 62%, $bg-secondary1 100%);
  height: 150px;
  border-radius: 14px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;

  &__logo {
    height: 100px;
  }

  &__menu {
    align-self: flex-end;
  }
}