$bg-main:rgb(31, 30, 30);
$bg-dark: rgba(19, 18, 18, 0.6);
$service_button_color: rgb(212, 41, 41);

$bg-secondary1: rgba(247, 248, 241, 0.8);
$bg-secondary2: rgba(255, 255, 255, 0.9);
$bg-sercice1: rgba(255, 255, 255, 0.18);